@model IEnumerable<Music.Models.SongModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Top 10 Songs</h1>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SongName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtistModel)
            </th>
            <th>
                <ej-rating read-only="true" value=@Html.DisplayNameFor(model => model.Rating)/>
                    
            </th>
            <th>
                <a onclick="showInPopup('@Url.Action("Create","Song",null,Context.Request.Scheme)','New Song')" class="btn btn-success text-white">Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderByDescending(x =>x.Rating)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SongName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistModel.ArtistId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SongId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SongId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SongId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
